/* GERAL*/

body{
    background-image: url(../img/fundo.png);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
       
}

h2 {
    text-align: center;
    color: #5D1277;
}

p {
    text-align: center;
    color: #4f4f4f;
}

/*Sessão 1 */
/*definir tamanho para divs ficarem um de lado e outro de outro */
.secao {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
    width: 30%;
    margin: 90px auto 0 auto;
    border-radius: 10px;
    box-shadow: -3px 3px 30px rgba(0,0,0,0.30)

}

.secao img {
    width: 150px;
}
/* .seletor seleciona uma classe no html */

.redes-sociais img {
    width: 50px;
    margin-right: 30px;
    margin-top: 30px;
}
